--
-- PostgreSQL database dump
--

\restrict 6LkmKkhvYaj6H92OVg1XB1Wnq28P49ffrE3rDQAi7hOtiA50ts3E9Mjn6Mb5UcD

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: complaints; Type: TABLE; Schema: public; Owner: metro_admin
--

CREATE TABLE public.complaints (
    id integer NOT NULL,
    rake_id character varying(50) NOT NULL,
    complaint text NOT NULL,
    from_location character varying(100) NOT NULL,
    to_location character varying(100) NOT NULL,
    category character varying(100),
    contact_email character varying(255),
    contact_phone character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.complaints OWNER TO metro_admin;

--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: metro_admin
--

CREATE SEQUENCE public.complaints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_id_seq OWNER TO metro_admin;

--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: metro_admin
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: dl_inputs; Type: TABLE; Schema: public; Owner: metro_admin
--

CREATE TABLE public.dl_inputs (
    id integer NOT NULL,
    h1 double precision,
    dv_pressure double precision,
    reservoirs double precision,
    oil_temperature double precision,
    motor_current double precision,
    comp text,
    dv_electric text,
    towers text,
    mpg double precision,
    lps text,
    pressure_switch text,
    oil_level double precision,
    caudal_impulses double precision,
    engineer text,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    label_text text,
    label smallint
);


ALTER TABLE public.dl_inputs OWNER TO metro_admin;

--
-- Name: dl_inputs_id_seq; Type: SEQUENCE; Schema: public; Owner: metro_admin
--

CREATE SEQUENCE public.dl_inputs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dl_inputs_id_seq OWNER TO metro_admin;

--
-- Name: dl_inputs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: metro_admin
--

ALTER SEQUENCE public.dl_inputs_id_seq OWNED BY public.dl_inputs.id;


--
-- Name: job_cards; Type: TABLE; Schema: public; Owner: metro_admin
--

CREATE TABLE public.job_cards (
    id bigint NOT NULL,
    dl_input_id bigint,
    created_at timestamp with time zone DEFAULT now(),
    status character varying(32) DEFAULT 'pending'::character varying,
    assigned_to bigint,
    priority integer DEFAULT 1,
    title text,
    description text,
    reasons jsonb,
    suggested_actions jsonb,
    meta_info jsonb,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.job_cards OWNER TO metro_admin;

--
-- Name: job_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: metro_admin
--

CREATE SEQUENCE public.job_cards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_cards_id_seq OWNER TO metro_admin;

--
-- Name: job_cards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: metro_admin
--

ALTER SEQUENCE public.job_cards_id_seq OWNED BY public.job_cards.id;


--
-- Name: tmp_dl_inputs; Type: TABLE; Schema: public; Owner: metro_admin
--

CREATE TABLE public.tmp_dl_inputs (
    "H1" bigint,
    "DV_pressure" double precision,
    "Reservoirs" double precision,
    "Oil_temperature" double precision,
    "Motor_current" double precision,
    "COMP" text,
    "DV_electric" text,
    "Towers" text,
    "MPG" double precision,
    "LPS" text,
    "Pressure_switch" text,
    "Oil_level" double precision,
    "Caudal_impulses" double precision,
    label_text text
);


ALTER TABLE public.tmp_dl_inputs OWNER TO metro_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: metro_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public.users OWNER TO metro_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: metro_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO metro_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: metro_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Name: dl_inputs id; Type: DEFAULT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.dl_inputs ALTER COLUMN id SET DEFAULT nextval('public.dl_inputs_id_seq'::regclass);


--
-- Name: job_cards id; Type: DEFAULT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.job_cards ALTER COLUMN id SET DEFAULT nextval('public.job_cards_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: metro_admin
--

COPY public.complaints (id, rake_id, complaint, from_location, to_location, category, contact_email, contact_phone, created_at) FROM stdin;
1	R001	IDK aise hi maza aya	Town Hall	Cunat	Staff Behavior	abc@email.com	+918910714765	2025-09-11 06:58:19.68044
2	A-123	I was feeling threatened by a big giant man.	Ernakulam South	Vyttila	Safety & Security	pradipta@gmail.com	12378943	2025-09-11 15:33:08.196646
\.


--
-- Data for Name: dl_inputs; Type: TABLE DATA; Schema: public; Owner: metro_admin
--



--
-- Data for Name: job_cards; Type: TABLE DATA; Schema: public; Owner: metro_admin
--



--
-- Data for Name: tmp_dl_inputs; Type: TABLE DATA; Schema: public; Owner: metro_admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: metro_admin
--

COPY public.users (id, email, hashed_password, role) FROM stdin;
1	admin@metrosaathi.com	$2b$12$TxvukiEQ.iKQHsEUIAoisO3ZkHLB99mO5vFn1XM3u2g9E0MqYT35a	Admin
2	eng1@email.com	$2b$12$Ik8cIt62ItBc6sOe5e1Rpe5THuVQqtUt7eOEKp9b/RSyn9IAUNQ2q	engineer
3	eng2@email.com	$2b$12$Pbhc1xVscnH.R6uoC881Yul4Tl7kg8Qbtj3hp9wjjdQ.cwir90PuC	engineer
4	eng3@email.com	$2b$12$bn4azGRHlK2iM5cAtZ0e3eHv16iu.gNAFXj76Ad6pPtEvqIBYSjDK	engineer
5	eng4@email.com	$2b$12$52J2gwAFyRrgOHe/jPzHhOh7P.2NjGYlPQ1TB2Eq9ztR.OMNIr5Cm	engineer
6	rng123@email.com	$2b$12$FNrBhIyiP74P3CWTJjo1CeXp9lcHWPpSY002rg45kFDs8r94qoKbm	Admin
\.


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: metro_admin
--

SELECT pg_catalog.setval('public.complaints_id_seq', 2, true);


--
-- Name: dl_inputs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: metro_admin
--

SELECT pg_catalog.setval('public.dl_inputs_id_seq', 555, true);


--
-- Name: job_cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: metro_admin
--

SELECT pg_catalog.setval('public.job_cards_id_seq', 19, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: metro_admin
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: dl_inputs dl_inputs_pkey; Type: CONSTRAINT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.dl_inputs
    ADD CONSTRAINT dl_inputs_pkey PRIMARY KEY (id);


--
-- Name: job_cards job_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.job_cards
    ADD CONSTRAINT job_cards_pkey PRIMARY KEY (id);


--
-- Name: users users_hashed_password_key; Type: CONSTRAINT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_hashed_password_key UNIQUE (hashed_password);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: metro_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_job_cards_status_assigned; Type: INDEX; Schema: public; Owner: metro_admin
--

CREATE INDEX idx_job_cards_status_assigned ON public.job_cards USING btree (status, assigned_to);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: metro_admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: metro_admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6LkmKkhvYaj6H92OVg1XB1Wnq28P49ffrE3rDQAi7hOtiA50ts3E9Mjn6Mb5UcD

